NODEJS_ORG_MIRROR="https://registry.npmmirror.com/mirrors/node"
NVM_NODEJS_ORG_MIRROR="https://registry.npmmirror.com/mirrors/node"
PHANTOMJS_CDNURL="https://registry.npmmirror.com/mirrors/phantomjs"
CHROMEDRIVER_CDNURL="https://registry.npmmirror.com/mirrors/chromedriver"
OPERADRIVER_CDNURL="https://registry.npmmirror.com/mirrors/operadriver"
ELECTRON_MIRROR="https://registry.npmmirror.com/mirrors/electron/"
ELECTRON_BUILDER_BINARIES_MIRROR="https://registry.npmmirror.com/mirrors/electron-builder-binaries/"
SASS_BINARY_SITE="https://registry.npmmirror.com/mirrors/node-sass"
SWC_BINARY_SITE="https://registry.npmmirror.com/mirrors/node-swc"
NWJS_URLBASE="https://registry.npmmirror.com/mirrors/nwjs/v"
PUPPETEER_DOWNLOAD_HOST="https://registry.npmmirror.com/mirrors"
SENTRYCLI_CDNURL="https://registry.npmmirror.com/mirrors/sentry-cli"
SAUCECTL_INSTALL_BINARY_MIRROR="https://registry.npmmirror.com/mirrors/saucectl"
registry="https://registry.npmmirror.com/"
disturl="https://registry.npmmirror.com/mirrors/node"
npm_config_sharp_binary_host="https://registry.npmmirror.com/mirrors/sharp"
npm_config_sharp_libvips_binary_host="https://registry.npmmirror.com/mirrors/sharp-libvips"
npm_config_robotjs_binary_host="https://registry.npmmirror.com/mirrors/robotj"
