NODEJS_ORG_MIRROR="https://registry.npmmirror.com/binaries/node"
NVM_NODEJS_ORG_MIRROR="https://registry.npmmirror.com/binaries/node"
PHANTOMJS_CDNURL="https://registry.npmmirror.com/binaries/phantomjs"
CHROMEDRIVER_CDNURL="https://registry.npmmirror.com/binaries/chromedriver"
OPERADRIVER_CDNURL="https://registry.npmmirror.com/binaries/operadriver"
ELECTRON_MIRROR="https://registry.npmmirror.com/binaries/electron/"
ELECTRON_BUILDER_BINARIES_MIRROR="https://registry.npmmirror.com/binaries/electron-builder-binaries/"
SASS_BINARY_SITE="https://registry.npmmirror.com/binaries/node-sass"
SWC_BINARY_SITE="https://registry.npmmirror.com/binaries/node-swc"
NWJS_URLBASE="https://registry.npmmirror.com/binaries/nwjs/v"
PUPPETEER_DOWNLOAD_HOST="https://registry.npmmirror.com/binaries"
SENTRYCLI_CDNURL="https://registry.npmmirror.com/binaries/sentry-cli"
SAUCECTL_INSTALL_BINARY_MIRROR="https://registry.npmmirror.com/binaries/saucectl"
registry="https://registry.npmmirror.com/"
disturl="https://registry.npmmirror.com/mirrors/node"
npm_config_sharp_binary_host="https://registry.npmmirror.com/binaries/sharp"
npm_config_sharp_libvips_binary_host="https://registry.npmmirror.com/binaries/sharp-libvips"
npm_config_robotjs_binary_host="https://registry.npmmirror.com/binaries/robotj"
